<!-- views/ihm/fileselector.ejs -->

<%_ if (custom_style == 'p') { %>
    <p>
<% } else {%>
    <span>
<% } _%>

    <%_ var tooltip = content['Key'] %>
    <% if (content.hasOwnProperty('ToolTip')) { %>
        <% tooltip = content['ToolTip'] %>
    <% } _%>
    
    <label for="<%=content['Key']%>"> <%=content['Name']%> </label>
    <input title="<%=tooltip%>" type="file" id="<%=content['Key']%>" name="<%=content['Key']%>">
    
<%_ if (custom_style == 'p') { %>
    </p>
<% } else {%>
    </span>
<% } _%>
