<!-- views/ihm/lineedit.ejs -->

<%_ var value = '' %>
<% if (content.hasOwnProperty('Value')) { %>
    <% value = content['Value'] %>
<% } _%>

<%_ var tooltip = content['Key'] %>
<% if (content.hasOwnProperty('ToolTip')) { %>
    <% tooltip = content['ToolTip'] %>
<% } _%>

<%_ if (custom_style == 'p') { %>
    <p>
<% } else {%>
    <span>
<% } _%>

    <label for= "<%=content['Key'] %>"> <%=content['Name'] %> </label>
    <input title="<%=tooltip%>" type="text" value="<%=content['Value']%>" name="<%=content['Key']%>" id="<%=content['Key']%>">
    
<%_ if (custom_style == 'p') { %>
    </p>
<% } else {%>
    </span>
<% } _%>

