<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
</head>
<body class="container">

<header>
    <%- include ("../partials/header") %>
</header>

<main>
    <div class="jumbotron">
        <h2>Visualisation des jobs</h2>
	<table class="table">
		<th>id</th><th>command</th><th>status</th><th>log</th>
		<% json.forEach(function( job){ %>
		<tr>
		<td> <%= job.id %></td><td> <%= job.command %></td><td> <%= job.status %></td><td> <%= job.log %></td>
		</tr>
		<% }) %>
 
	</table>	
    </div>
</main>

<footer>
    <%- include ("../partials/footer") %>
</footer>

</body>
</html>
