<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
</head>
<body class="container">

<header>
    <%- include ("../partials/header") %>
</header>

<script type="text/javascript">
	$(document).ready(function() {
		$('#project').DataTable();
	} );

	var api = '<%= api  %>';
	
	function jsonChanged(file) {
		var reader = new FileReader();
		reader.addEventListener('load', function(e) {
		// contents of file in variable     
			var json = e.target.result;
			// on fait une requete sur l'API
			fetch(`${api}/api/project`, {
				method: "PUT",
				body: json,
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(() => {
				location.reload();
			});
		});
		// read as text file
		reader.readAsText(file);  
	}
	function textChanged(file) {
		var reader = new FileReader();
		reader.addEventListener('load', function(e) {
		// contents of file in variable     
			var text = e.target.result.split(/\r\n|\n/);
			let P = { projects:[{name: file.name, jobs:[]}]};
			let lastId;
			text.forEach((line, index) => {
				if (line.length>0){
					let job = {name: `job ${index}`, command: line};
					if (lastId !== undefined){
						job.deps = [{id:lastId}];
					}
					lastId = P.projects[0].jobs.push(job) - 1;
				}
			});
			var json = JSON.stringify(P);
			// on fait une requete sur l'API
			fetch(`${api}/api/project`, {
				method: "PUT",
				body: json,
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(() => {
				location.reload();
			});
		});
		// read as text file
		reader.readAsText(file);
	}
	function supprimer(id, name, status) {
		if (window.confirm(`Supprimer le chantier ${id} : ${name} (${status})?`)) {
			console.log("ici", id);
			// on fait une requete sur l'API
			fetch(`${api}/api/project/${id}`, {
					method: "DELETE",
					headers: {
						'Content-Type': 'application/json'
					}
				}).then(() => {
					location.reload();
				});
		}
	}
</script>
  

<main>
    <div class="jumbotron">
		<h2>Créer des projets</h2>
		<table class="table table-striped table-bordered" style="width:100%" id="create">
		<tr> 
			<!-- <td><button name="createFromJson" onclick="createFromJson()">Créer un projet à partir d'un Json</button></td>
			<td><button name="createFromTxt" onclick="createFromTxt()">Créer un projet à partir d'un fichier Texte</button></td> -->
			<td>
				<button onclick="document.getElementById('file-json').click();">Créer un projet à partir d'un Json</button>
				<input id="file-json" type="file" name="name" onchange="jsonChanged(this.files[0])" style="display: none;" />
			</td>
			<td>
				<button onclick="document.getElementById('file-txt').click();">Créer un projet à partir d'un fichier texte</button>
				<input id="file-txt" type="file" name="name" onchange="textChanged(this.files[0])" style="display: none;" />
			</td>
		</tr>
		</table>
		<h2>Visualisation des projets</h2>
	    <table class="table table-striped table-bordered" style="width:100%" id="project">
		<thead>
			<tr>
				<th>id</th>
				<th>name</th>
				<th>status</th>
				<th>supprimer</th>
			</tr>
		</thead>
		<% json.forEach(function( project){ %>
		<tr>
			<td> <%= project.id %></td>
			<td> <%= project.name %></td>
			<td> <%= project.status %></td>
			<td> <button class="suppr" onclick='supprimer("<%= project.id %>", "<%= project.name %>", "<%= project.status %>")'>Supprimer</button> </td>
		</tr>
		<% }) %>
    </table>
    </div>
</main>

<footer>
    <%- include ("../partials/footer") %>
</footer>

</body>
</html>