<div class="card shadow mb-4 border-left-warning h-100 py-2">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-warning">Projets</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Status</th>
              <th>Priority</th>
              <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Status</th>
              <th>Priority</th>
              <th>Action</th>
            </tr>
        </tfoot>
            <tbody>
                <% projects.forEach(function( project ){ %>
                <tr>
                    <td> <%= project.id %></td>
                    <td> <%= project.name %></td>
                    <td> <%= project.status %></td>
                    <td> <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= project.priority %>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="javascript:setPriority(<%= project.id %>, 'low')">Low</a>
                        <a class="dropdown-item" href="javascript:setPriority(<%= project.id %>, 'normal')">Normal</a>
                        <a class="dropdown-item" href="javascript:setPriority(<%= project.id %>, 'high')">High</a>
                      </div>
                    </div>
                  </td>
                    <td>
                        <button type="button" onclick='deleteProject("<%= project.id %>", "<%= project.name %>")' 
                          data-toggle="tooltip" title="Supprime le projet de la base" 
                          class="btn btn-circle btn-danger"><i class="fas fa-trash fa-1x" aria-hidden="true"></i></button>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      var i = jQuery('<i></i>');
      i.addClass('fas fa-trash fa-1x')
  
      var button = jQuery('<button></button>');
      button.addClass('btn btn-danger');
      button.attr('type', 'button')
            .attr('data-toggle', "tooltip")
            .attr('title', 'Supprime tous les projets')
            .attr('onclick', 'deleteAllProjects()')
            .append(i)
            .append(' Supprime tous les projets');
      $("div.toolbar_tab").append(button);
    } );
  </script>